* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #fefefe;
    padding: 12px;
}

main {
    width: 100%;
    max-width: 400px;
    border: 2px solid #32323232;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

h1 {
    color: #323232;
    font-size: 42px;
}

button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #323232;
    color: #fefefe;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition-duration: 0.04s;
    cursor: pointer;
}

button:active {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}